div{
    margin: 5px;
}

button, p, h2{
    display: inline;
    padding: 15px;
    margin: 10px;
}

button{
    background-color: rgb(212, 42, 42);
    color: white;
    border: none;
    cursor: pointer;
}

.projectItem{
    display: flex;
    align-items: center;
    border: solid black 1px;
}

.titleDescContainer{
    flex-basis: 70%;
}

.titleDescContainer p, .titleDescContainer p{
    display: block;
}

h3{
    margin: 0px;
}

.dateContainer{
    text-align: center;
    flex-grow: 1;
}

