div{
    margin: 5px;
}

button, p, h2{
    display: inline;
    padding: 15px;
    margin: 10px;
}

h2{
    padding: 0px;
}

button{
    background-color: rgb(212, 42, 42);
    color: white;
    border: none;
}

